<% bids&.each do |bid|%>
<div class="container">
  <div class="row">
    <div class="col-lg-4 pull-right">
      <%= number_to_currency(bid.bid) %>  At: <%= bid.created_at %> By: <%= bid.user.full_name %>
      <!-- <#%= link_to "Delete", [@auction, bid],
      method: :delete,
      remote: :true,
      data: {confirm: 'Are you sure?'} %> -->
    </div>
  </div>
</div>
<% end %>
