<!-- <%= bid&.errors.full_messages %> -->
<%= form_for [@auction, bid]  do |f| %>
<div class="container">
  <div class="row">
    <div class="col-lg-4 pull-right">
      <%= f.text_field :bid %>
      <%= f.submit "Bid" %>
    </div>
  </div>
</div>
<% end %>
