<div class="container">

  <div class="row">
    <div class="col--lg-1 pull-left" style="margin-left: 10px">
      <h4><%= @auction.title %></h4>
    </div>
    <div class="col--lg-1 pull-right" style="margin-right: 200px">
      <p>Current Price: $ Last heighest bid</p>
    </div>
  </div>

  <div class="row">
    <div class="col--lg-1 pull-left" style="margin-left: 10px">
      <p><%= @auction.details %></p>
    </div>
    <div class="col--lg-1 pull-right" style="margin-right: 200px">
      <p>Current Price<%= @auction.reserved_price %></p>
    </div>
  </div>

</div>
